<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Edit</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <meta charset="utf-8"/>
</head>
<body>
<div id="formTitle">
    <h1>Todo Edit</h1>
</div>
<div class="form-group">
    <form action="#" th:action="@{edit}" th:object="${todo}" method="post">
        <div id="urgentDiv" class="form-check form-inline">
            <input class="form-check-input" type="checkbox" id="urgentEdit" th:checked="*{urgent}">
            <label class="form-check-label" for="urgentEdit">Urgent</label>
        </div>
        <div id="doneDiv" class="form-check form-inline">
            <input class="form-check-input" type="checkbox" id="doneEdit" th:checked="*{done}">
            <label class="form-check-label"  for="doneEdit">Done</label>
        </div>

        <div id="descriptionDiv">
            <label for="changeDescription">Description</label>
            <input class="form-control" type="text" id="changeDescription" th:value="*{description}">
        </div>

        <div id="buttonsDiv">
            <input class="btn btn-success btn-xs" type="submit" value="SUBMIT"><a class="btn btn-danger btn-xs" href="/todo/">CANCEL</a>
        </div>

    </form>
</div>
</body>
</html>