<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Account No.</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>is King</th>
            <th>Good or Bad</th>
        </tr>
        <tr th:each="acc : ${bankAccList}">
            <td th:text="${accStat.index}"></td>
            <td th:text="${acc.getName()}"></td>
            <td th:text="${acc.balanceWithDecimals()}"></td>
            <td th:text="${acc.getAnimalType()}"></td>
            <td th:text="((${acc.isKing()}) ? ('Yes') : ('No'))"></td>
            <td th:text="((${acc.isGood()}) ? ('Good') : ('Bad'))"></td>
        </tr>
    </table>
</div>
</body>
</html>