#title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
}

.table {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.id {
    text-align: center;
}

.check_mark {
    text-align: center;
    color: forestgreen;
}

.x_mark {
    text-align: center;
    color: red;
}

th, td {
    text-align: center;
    vertical-align: center;
}

#descriptionDiv #buttonsDiv{
    max-width: 400px;
    margin: 0 auto;
}
