<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <title>Reddit Clone</title>
</head>
<body>
<div id="title">
    <h1>Trending posts</h1>
</div>
<div class="submitbutton">
    <h2><a class="btn btn-success btn-lg" href="/submit">Submit new post</a></h2>
</div>
<div id="posts" class="table-responsive">
    <table class="table borderless">
        <tbody>
        <tr th:each="post : ${allPosts}">
            <td id="votecount" th:text="${post.voteCount}"></td>
            <td><a class="icon" th:href="'/' + ${post.id} + '/incr'" th:text="'&#8679'" th:style="'color: green'"></a></td>
            <td><a class="icon" th:href="'/' + ${post.id} + '/decr'" th:text="'&#8681'" th:style="'color: red'"></a></td>
            <td><a th:href="${post.url}" th:text="${post.title}"></a></td>
        </tbody>
    </table>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>