<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <ul>
        <li><a href="'http://localhost:8080/">Information</a></li>
        <li><a href="http://localhost:8080/login">Login</a></li>
    </ul>
    <img th:src="@{greenfox.png}" alt="Greenfox">
    <p th:text="'This is ' + ${fox.getName()} +
    '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} +
    '. He knows ' + ${fox.getTricksList().size()} + ' tricks.'"></p>
</div>
<div>
    <h1>Known tricks</h1>
    <p th:text="(!${knowsTricks} ? 'You know no tricks :(')"></p>
    <ul th:each="trick : ${fox.getTricksList()}">
        <li th:text="${trick}"></li>
    </ul>
</div>
</body>
</html>