.submitbutton, h1 {
    text-align: left;
    margin-left: 30px;
}

.table-responsive {
    margin-left: 30px;
}

.borderless td, .borderless th {
    border: 0;
}

.table > tbody > tr > td {
    border-top: 0;
    font-size: large;
}

.table a {
    display: block;
    text-decoration: none;
}

.icon {
    text-decoration: none;
}

#submitpostformdiv {
    font-size: large;
    max-width: 600px;
    margin-left: 30px;
}

.date {
    font-size: 12px;
}